<table class="comparison">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">At rest</th>
      <th scope="col">Disabled</th>
    </tr>
  </thead>
  <tr>
    <th scope="row"><code>&lt;input type="button"&gt;</code></th>
    <td><input type="button" value="Button"></td>
    <td><input type="button" value="Button" disabled></td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;input type="submit"&gt;</code></th>
    <td><input type="submit" value="Button"></td>
    <td><input type="submit" value="Button" disabled></td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;button&gt;</code></th>
    <td><button>Button</button></td>
    <td><button disabled>Button</button></td>
  </tr>
</table>
