<table class="comparison">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">At rest</th>
      <th scope="col">Disabled</th>
    </tr>
  </thead>
  <tr>
    <th scope="row"><code>button</code></th>
    <td><input type="button" class="button" value="Button"></td>
    <td><input type="button" class="button" value="Button" disabled></td>
  </tr>
  <tr>
    <th scope="row"><code>button button_primary</code></th>
    <td><input type="button" class="button button_primary" value="Button"></td>
    <td><input type="button" class="button button_primary" value="Button" disabled></td>
  </tr>
</table>
