<table class="comparison">
	<thead>
		<tr>
			<th scope="col">Type</th>
			<th scope="col">At rest</th>
			<th scope="col">Disabled</th>
		</tr>
	</thead>
	<tr>
		<th scope="row"><code>&lt;input type="button" class="button"&gt;</code></th>
		<td><input type="button" class="button" value="Button"></td>
		<td><input type="button" class="button" value="Button" disabled></td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;input type="submit" class="button"&gt;</code></th>
		<td><input type="submit" class="button" value="Button"></td>
		<td><input type="submit" class="button" value="Button" disabled></td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;button class="button"&gt;</code></th>
		<td><button class="button">Button</button></td>
		<td><button class="button" disabled>Button</button></td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;a class="button"&gt;</code></th>
		<td><a class="button">Button</a></td>
		<td>-</td>
	</tr>
</table>
