<table class="comparison">
	<thead>
		<tr>
			<th scope="col">Type</th>
			<th scope="col">At rest</th>
			<th scope="col">Pre-filled</th>
			<th scope="col">Errored</th>
			<th scope="col">Disabled</th>
		</tr>
	</thead>
	<tr>
		<th scope="row"><code>&lt;select&gt;</code></th>
		<td>
			<div class="field">
				<select>
					<option value="-1"></option>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A select field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<select>
					<option value="-1"></option>
					<optgroup label="Heroes">
						<option selected>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A select field</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<select>
					<option value="-1"></option>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper field_helper_error">Please choose your favourite character</em>
				<em class="field_helper">A select field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<select disabled>
					<option value="-1"></option>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A select field</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;select multiple&gt;</code></th>
		<td>
			<div class="field">
				<select multiple>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A multi-select field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<select multiple>
					<optgroup label="Heroes">
						<option selected>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A multi-select field</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<select multiple>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper field_helper_error">Please choose your favourite character(s)</em>
				<em class="field_helper">A multi-select field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<select multiple disabled>
					<optgroup label="Heroes">
						<option>Iron Man</option>
						<option>Spiderman</option>
						<option>Superman</option>
					</optgroup>
					<optgroup label="Villians">
						<option>Doctor Octopus</option>
						<option>Lex Luthor</option>
						<option>Venom</option>
					</optgroup>
				</select>
				<em class="field_helper">A multi-select field</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;input type="checkbox"&gt;</code></th>
		<td>
			<div class="field">
				<label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
				<em class="field_helper">A checkbox accept field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
				<em class="field_helper">A checkbox accept field</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
				<em class="field_helper field_helper_error">Please accept our terms for your oblivion</em>
				<em class="field_helper">A checkbox accept field</em>
			</div>
		</td>
		<td>
			<div class="field">
				<label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
				<em class="field_helper">A checkbox accept field</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;input type="checkbox"&gt;</code></th>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="checkbox" name="multiple_hero" value="ironman"> Iron man</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="checkbox" name="multiple_hero" value="ironman" checked> Iron man</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<ul>
					<li><label><input type="checkbox" name="multiple_hero" value="ironman"> Iron man</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper field_helper_error">Please choose at least one superhero.</em>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="checkbox" name="multiple_hero" value="ironman" disabled> Iron man</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="spiderman" disabled> Spiderman</label></li>
					<li><label><input type="checkbox" name="multiple_hero" value="superman" disabled> Superman</label></li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>.button_selection [type="checkbox"]</code></th>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="checkbox" name="multiple_hero_selection" id="multiple_hero_selection_ironman" value="ironman">
						<label for="multiple_hero_selection_ironman" class="button">Iron man</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection" id="multiple_hero_selection_spiderman" value="spiderman">
						<label for="multiple_hero_selection_spiderman" class="button">Spiderman</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection" id="multiple_hero_selection_superman" value="superman">
						<label for="multiple_hero_selection_superman" class="button">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="checkbox" name="multiple_hero_selection_selected" id="multiple_hero_selection_selected_ironman" value="ironman" checked>
						<label for="multiple_hero_selection_selected_ironman" class="button">Iron man</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_selected" id="multiple_hero_selection_selected_spiderman" value="spiderman">
						<label for="multiple_hero_selection_selected_spiderman" class="button">Spiderman</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_selected" id="multiple_hero_selection_selected_superman" value="superman">
						<label for="multiple_hero_selection_selected_superman" class="button">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<ul class="button_selection">
					<li>
						<input type="checkbox" name="multiple_hero_selection_error" id="multiple_hero_selection_error_ironman" value="ironman">
						<label for="multiple_hero_selection_error_ironman" class="button">Iron man</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_error" id="multiple_hero_selection_error_spiderman" value="spiderman">
						<label for="multiple_hero_selection_error_spiderman" class="button">Spiderman</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_error" id="multiple_hero_selection_error_superman" value="superman">
						<label for="multiple_hero_selection_error_superman" class="button">Superman</label>
					</li>
				</ul>
				<em class="field_helper field_helper_error">Please choose at least one superhero.</em>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="checkbox" name="multiple_hero_selection_disabled" id="multiple_hero_selection_disabled_ironman" value="ironman" disabled>
						<label for="multiple_hero_selection_disabled_ironman" class="button">Iron man</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_disabled" id="multiple_hero_selection_disabled_spiderman" value="spiderman" disabled>
						<label for="multiple_hero_selection_disabled_spiderman" class="button">Spiderman</label>
					</li>
					<li>
						<input type="checkbox" name="multiple_hero_selection_disabled" id="multiple_hero_selection_disabled_superman" value="superman" disabled>
						<label for="multiple_hero_selection_disabled_superman" class="button">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A multiple-choice checkbox group</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>&lt;input type="radio"&gt;</code></th>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="radio" name="single_hero" value="ironman"> Iron man</label></li>
					<li><label><input type="radio" name="single_hero" value="spiderman"> Spiderman</label></li>
					<li><label><input type="radio" name="single_hero" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="radio" name="single_hero_selected" value="ironman" checked> Iron man</label></li>
					<li><label><input type="radio" name="single_hero_selected" value="spiderman"> Spiderman</label></li>
					<li><label><input type="radio" name="single_hero_selected" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<ul>
					<li><label><input type="radio" name="single_hero_error" value="ironman"> Iron man</label></li>
					<li><label><input type="radio" name="single_hero_error" value="spiderman"> Spiderman</label></li>
					<li><label><input type="radio" name="single_hero_error" value="superman"> Superman</label></li>
				</ul>
				<em class="field_helper field_helper_error">Please choose a superhero.</em>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul>
					<li><label><input type="radio" name="single_hero_disabled" value="ironman" disabled> Iron man</label></li>
					<li><label><input type="radio" name="single_hero_disabled" value="spiderman" disabled> Spiderman</label></li>
					<li><label><input type="radio" name="single_hero_disabled" value="superman" disabled> Superman</label></li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
	</tr>
	<tr>
		<th scope="row"><code>.button_selection [type="radio"]</code></th>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="radio" name="single_hero_selection" id="single_hero_selection_ironman" value="ironman">
						<label for="single_hero_selection_ironman" class="button">Iron man</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection" id="single_hero_selection_spiderman" value="spiderman">
						<label for="single_hero_selection_spiderman" class="button">Spiderman</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection" id="single_hero_selection_superman" value="superman">
						<label for="single_hero_selection_superman" class="button">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="radio" name="single_hero_selection_selected" id="single_hero_selection_selected_ironman" value="ironman" checked>
						<label class="button" for="single_hero_selection_selected_ironman">Iron man</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_selected" id="single_hero_selection_selected_spiderman" value="spiderman">
						<label class="button" for="single_hero_selection_selected_spiderman">Spiderman</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_selected" id="single_hero_selection_selected_superman" value="superman">
						<label class="button" for="single_hero_selection_selected_superman">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field field_error">
				<ul class="button_selection">
					<li>
						<input type="radio" name="single_hero_selection_error" id="single_hero_selection_error_ironman" value="ironman">
						<label class="button" for="single_hero_selection_error_ironman">Iron man</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_error" id="single_hero_selection_error_spiderman" value="spiderman">
						<label class="button" for="single_hero_selection_error_spiderman">Spiderman</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_error" id="single_hero_selection_error_superman" value="superman">
						<label class="button" for="single_hero_selection_error_superman">Superman</label>
					</li>
				</ul>
				<em class="field_helper field_helper_error">Please choose a superhero.</em>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
		<td>
			<div class="field">
				<ul class="button_selection">
					<li>
						<input type="radio" name="single_hero_selection_disabled" id="single_hero_selection_disabled_ironman" value="ironman" disabled>
						<label class="button" for="single_hero_selection_disabled_ironman">Iron man</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_disabled" id="single_hero_selection_disabled_spiderman" value="spiderman" disabled>
						<label class="button" for="single_hero_selection_disabled_spiderman">Spiderman</label>
					</li>
					<li>
						<input type="radio" name="single_hero_selection_disabled" id="single_hero_selection_disabled_superman" value="superman" disabled>
						<label class="button" for="single_hero_selection_disabled_superman">Superman</label>
					</li>
				</ul>
				<em class="field_helper">A single-choice radio group</em>
			</div>
		</td>
	</tr>
</table>
