<div class="example">
  <form class="form-horizontal">
    <div class="form_row">
      <label for="username_horizontal">Username</label>
      <div class="field">
        <input type="email" id="username_horizontal" name="username_horizontal">
        <em class="field_helper">Your username is typically your email address</em>
      </div>
    </div>
    <div class="form_row">
      <label for="password_horizontal">Password</label>
      <div class="field">
        <input type="password" id="password_horizontal" name="password_horizontal">
        <em class="field_helper">Your password can not contain naughty characters</em>
        <em class="field_helper">If you've forgotten your password, try to <a href="#section_form_rows">reset your password</a>.</em>
      </div>
    </div>
    <div class="form_actions">
      <input type="submit" class="button button_primary" value="Log in">
    </div>
  </form>
</div>
