<table class="comparison">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">At rest</th>
      <th scope="col">Pre-filled</th>
      <th scope="col">Errored</th>
      <th scope="col">Disabled</th>
    </tr>
  </thead>
  <tr>
    <th scope="row"><code>&lt;select&gt;</code></th>
    <td>
      <div class="field">
        <select>
          <option value="-1"></option>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A select field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <select>
          <option value="-1"></option>
          <optgroup label="Heroes">
            <option selected>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A select field</em>
      </div>
    </td>
    <td>
      <div class="field field_error">
        <select>
          <option value="-1"></option>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper field_helper_error">Please choose your favourite character</em>
        <em class="field_helper">A select field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <select disabled>
          <option value="-1"></option>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A select field</em>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;select multiple&gt;</code></th>
    <td>
      <div class="field">
        <select multiple>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A multi-select field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <select multiple>
          <optgroup label="Heroes">
            <option selected>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A multi-select field</em>
      </div>
    </td>
    <td>
      <div class="field field_error">
        <select multiple>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper field_helper_error">Please choose your favourite character(s)</em>
        <em class="field_helper">A multi-select field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <select multiple disabled>
          <optgroup label="Heroes">
            <option>Iron Man</option>
            <option>Spiderman</option>
            <option>Superman</option>
          </optgroup>
          <optgroup label="Villians">
            <option>Doctor Octopus</option>
            <option>Lex Luthor</option>
            <option>Venom</option>
          </optgroup>
        </select>
        <em class="field_helper">A multi-select field</em>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;input type="checkbox"&gt;</code></th>
    <td>
      <div class="field">
        <label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
        <em class="field_helper">A checkbox accept field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
        <em class="field_helper">A checkbox accept field</em>
      </div>
    </td>
    <td>
      <div class="field field_error">
        <label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
        <em class="field_helper field_helper_error">Please accept our terms for your oblivion</em>
        <em class="field_helper">A checkbox accept field</em>
      </div>
    </td>
    <td>
      <div class="field">
        <label><input type="checkbox"> I accept the <a href="#section_form_elements">Terms and Conditions</a></label>
        <em class="field_helper">A checkbox accept field</em>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;input type="checkbox"&gt;</code></th>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="checkbox" name="multiple_hero" value="ironman"> Iron man</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper">A multiple-choice checkbox group</em>
      </div>
    </td>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="checkbox" name="multiple_hero" value="ironman" checked> Iron man</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper">A multiple-choice checkbox group</em>
      </div>
    </td>
    <td>
      <div class="field field_error">
        <ul>
          <li><label><input type="checkbox" name="multiple_hero" value="ironman"> Iron man</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="spiderman"> Spiderman</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper field_helper_error">Please choose at least one superhero.</em>
        <em class="field_helper">A multiple-choice checkbox group</em>
      </div>
    </td>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="checkbox" name="multiple_hero" value="ironman" disabled> Iron man</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="spiderman" disabled> Spiderman</label></li>
          <li><label><input type="checkbox" name="multiple_hero" value="superman" disabled> Superman</label></li>
        </ul>
        <em class="field_helper">A multiple-choice checkbox group</em>
      </div>
    </td>
  </tr>
  <tr>
    <th scope="row"><code>&lt;input type="radio"&gt;</code></th>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="radio" name="single_hero" value="ironman"> Iron man</label></li>
          <li><label><input type="radio" name="single_hero" value="spiderman"> Spiderman</label></li>
          <li><label><input type="radio" name="single_hero" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper">A single-choice radio group</em>
      </div>
    </td>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="radio" name="single_hero_selected" value="ironman" checked> Iron man</label></li>
          <li><label><input type="radio" name="single_hero_selected" value="spiderman"> Spiderman</label></li>
          <li><label><input type="radio" name="single_hero_selected" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper">A single-choice radio group</em>
      </div>
    </td>
    <td>
      <div class="field field_error">
        <ul>
          <li><label><input type="radio" name="single_hero_error" value="ironman"> Iron man</label></li>
          <li><label><input type="radio" name="single_hero_error" value="spiderman"> Spiderman</label></li>
          <li><label><input type="radio" name="single_hero_error" value="superman"> Superman</label></li>
        </ul>
        <em class="field_helper field_helper_error">Please choose a superhero.</em>
        <em class="field_helper">A single-choice radio group</em>
      </div>
    </td>
    <td>
      <div class="field">
        <ul>
          <li><label><input type="radio" name="single_hero_disabled" value="ironman" disabled> Iron man</label></li>
          <li><label><input type="radio" name="single_hero_disabled" value="spiderman" disabled> Spiderman</label></li>
          <li><label><input type="radio" name="single_hero_disabled" value="superman" disabled> Superman</label></li>
        </ul>
        <em class="field_helper">A single-choice radio group</em>
      </div>
    </td>
  </tr>
</table>
