<table class="comparison">
  <thead>
    <tr>
      <th scope="col"><code>.heading_important</code></th>
      <th scope="col"><code>.heading_section</code></th>
      <th scope="col"><code>.heading_normal</code></th>
      <th scope="col"><code>.heading_light</code></th>
    </tr>
  </thead>
  <tr>
    <td>
      <h1 class="heading heading_section heading_important">Heading level 1<br>With a linebreak</h1>
    </td>
    <td>
      <h1 class="heading heading_section">Heading level 1<br>With a linebreak</h1>
    </td>
    <td>
      <h1 class="heading heading_section heading_normal">Heading level 1<br>With a linebreak</h1>
    </td>
    <td>
      <h1 class="heading heading_section heading_light">Heading level 1<br>With a linebreak</h1>
    </td>
  </tr>
  <tr>
    <td>
      <h2 class="heading heading_section heading_important">Heading level 2<br>With a linebreak</h2>
    </td>
    <td>
      <h2 class="heading heading_section">Heading level 2<br>With a linebreak</h2>
    </td>
    <td>
      <h2 class="heading heading_section heading_normal">Heading level 2<br>With a linebreak</h2>
    </td>
    <td>
      <h2 class="heading heading_section heading_light">Heading level 2<br>With a linebreak</h2>
    </td>
  </tr>
  <tr>
    <td>
      <h3 class="heading heading_section heading_important">Heading level 3<br>With a linebreak</h3>
    </td>
    <td>
      <h3 class="heading heading_section">Heading level 3<br>With a linebreak</h3>
    </td>
    <td>
      <h3 class="heading heading_section heading_normal">Heading level 3<br>With a linebreak</h3>
    </td>
    <td>
      <h3 class="heading heading_section heading_light">Heading level 3<br>With a linebreak</h3>
    </td>
  </tr>
  <tr>
    <td>
      <h4 class="heading heading_section heading_important">Heading level 4<br>With a linebreak</h4>
    </td>
    <td>
      <h4 class="heading heading_section">Heading level 4<br>With a linebreak</h4>
    </td>
    <td>
      <h4 class="heading heading_section heading_normal">Heading level 4<br>With a linebreak</h4>
    </td>
    <td>
      <h4 class="heading heading_section heading_light">Heading level 4<br>With a linebreak</h4>
    </td>
  </tr>
  <tr>
    <td>
      <h5 class="heading heading_section heading_important">Heading level 5<br>With a linebreak</h5>
    </td>
    <td>
      <h5 class="heading heading_section">Heading level 5<br>With a linebreak</h5>
    </td>
    <td>
      <h5 class="heading heading_section heading_normal">Heading level 5<br>With a linebreak</h5>
    </td>
    <td>
      <h5 class="heading heading_section heading_light">Heading level 5<br>With a linebreak</h5>
    </td>
  </tr>
  <tr>
    <td>
      <h6 class="heading heading_section heading_important">Heading level 6<br>With a linebreak</h6>
    </td>
    <td>
      <h6 class="heading heading_section">Heading level 6<br>With a linebreak</h6>
    </td>
    <td>
      <h6 class="heading heading_section heading_normal">Heading level 6<br>With a linebreak</h6>
    </td>
    <td>
      <h6 class="heading heading_section heading_light">Heading level 6<br>With a linebreak</h6>
    </td>
  </tr>
  <tr>
    <td>
      <p class="heading heading_section heading_important">Paragraph<br>With a linebreak</p>
    </td>
    <td>
      <p class="heading heading_section">Paragraph<br>With a linebreak</p>
    </td>
    <td>
      <p class="heading heading_section heading_normal">Paragraph<br>With a linebreak</p>
    </td>
    <td>
      <p class="heading heading_section heading_light">Paragraph<br>With a linebreak</p>
    </td>
  </tr>
</table>
