<div class="example">
	<div class="layout">
		<div class="layout_primary">
			<h1>Primary Content Heading</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit necessitatibus consectetur, illo assumenda est iusto. Aspernatur temporibus, iste possimus alias, quae eligendi id, tenetur maiores maxime adipisci recusandae nesciunt.</p>
		</div>
		<div class="layout_secondary">
			<h1>Secondary Content Heading</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit necessitatibus consectetur, illo assumenda est iusto. Aspernatur temporibus, iste possimus alias, quae eligendi id, tenetur maiores maxime adipisci recusandae nesciunt.</p>
		</div>
	</div>
</div>
