<div class="example">
  <ul class="list_stripped">
    <li>Super awesome! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quos, officiis adipisci ea, facere quis. Doloremque velit ipsa molestias magnam et rem, nulla eligendi possimus, voluptates inventore, laborum. Eius, minima.</li>
    <li>Totally rad!</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore temporibus fugit a ipsum ut harum dicta nisi ad nostrum inventore obcaecati, amet, rem optio sint in eos eius, sequi minus.</li>
  </ul>
</div>
