<div class="example">
	<div class="table_container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">
						Table header<br>
						with line-break
					</th>
					<th scope="col">Table header</th>
					<th scope="col" class="amount">Table header amount</th>
				</tr>
			</thead>
			<tr>
				<th scope="row">Row header</th>
				<td>Table cell</td>
				<td class="amount">Table cell amount</td>
			</tr>
			<tr>
				<th scope="row">Row header</th>
				<td>Table cell</td>
				<td class="amount">Table cell amount</td>
			</tr>
			<tr>
				<th scope="row">Row header</th>
				<td>Table cell</td>
				<td class="amount">Table cell amount</td>
			</tr>
			<tr>
				<th scope="row">Row header</th>
				<td>Table cell</td>
				<td class="amount">Table cell amount</td>
			</tr>
		</table>
	</div>
</div>
