<div class="example">
  <div class="tabs">
    <nav class="tab_links">
      <ul>
        <li class="active"><a href="#tab_1">Tab 1</a></li>
        <li><a href="#tab_2">Tab 2</a></li>
        <li><a href="#tab_3">Tab 3</a></li>
      </ul>
    </nav>
    <div class="tab_content">
      <section id="tab_1" class="tab active">
        <h1>Tab content 1</h1>
      </section>
      <section id="tab_2" class="tab">
        <h1>Tab content 2</h1>
      </section>
      <section id="tab_3" class="tab">
        <h1>Tab content 3</h1>
      </section>
    </div>
  </div>
</div>
