<dl class="example_list">
  <dt>Italics</dt>
  <dd>This what a word with <i>italics</i> looks like</dd>
  <dd>This what a word with <em>emphasis</em> looks like</dd>
  <dt>Bold</dt>
  <dd>This what a word with <b>bold</b> looks like</dd>
  <dd>This what a word with <strong>strong emphasis</strong> looks like</dd>
  <dt>Strikethrough</dt>
  <dd>This what a word with <s>strikethrough</s> looks like</dd>
  <dd>This what a <del>deleted word</del> looks like</dd>
  <dt>Underline</dt>
  <dd>This what a word with <u>underline</u> looks like</dd>
  <dd>This what an <ins>inserted word</ins> looks like</dd>
  <dt>Abbreviations/Acronyms</dt>
  <dd>This what a <abbr title="Three Letter Acronym">TLA</abbr> looks like</dd>
  <dt>Superscript</dt>
  <dd>This what a <sup>superscript</sup> looks like</dd>
  <dt>Subscript</dt>
  <dd>This what a <sub>subscript</sub> looks like</dd>
</dl>
