---
page_classes: 'page_home'
#page_title: ''
#page_description: ''
section_class: 'home'
---
<header>
	<h1>Index</h1>
</header>
<section>
	<p>This is your homepage, located at <code>source/index.html.erb</code></p>
</section>
